*{
  margin: 0px;
  padding: 0px;
}
#container{
  width: 970px;
  margin: 0px auto;
}
#pokemon{
  width: 600px;
  margin: 20px;
  display: inline-block;
}
#pokedex{
  width: 250px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
#pokedex, h2, img, h3, ol, p{
  margin: 10px 0px;
}
#pokedex li{
  list-style: inside;
}
